# Build folders
dist

# Config files
.npmrc

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Certificates
*.crt
*.pem

# Editor
.DS_Store
*.swp
.idea
.vscode

# Dependency directory
node_modules

# TypeScript
*.tsbuildinfo

# Next.js
.next

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
